div#painel_cadastroMateriais {
    padding:0;
    position:absolute;
    top:50%;
    margin-top:-250px;
    overflow:auto;

}

div#painel_cadastroMateriais .panel-heading{
    background-color: #8EB4A6;
    color: #FFF;
    text-align: center;
    
}

div#painel_cadastroMateriais .panel-heading h3{
    font-weight: bold;
    height: 35px;
    line-height: 35px;
 }

div#tela_cadastroMateriais {
    padding-top: 15px;
    padding-bottom: 35px;
}

div#tela_cadastroMateriais .centralizar{
    margin-top: 20px;
}

select#sel_quant {
    color:#6d7a88;
}

option[value=""][disabled] {
    display: none;
  }

div#painel_cadastroMateriais #signup_cadastro {
    font-size: 16px;
}

.form-control {
    font-size: 16px;
    height: auto;
}