div#painel_cidadao {
    padding:0;
    position:absolute;
	top:50%;
    margin-top:-250px;
    overflow:auto;
}

div#painel_cidadao thead{
    background-color: #8EB4A6;
    color: #FFF;
}

div#painel_cidadao thead th {
    font-weight: bold;
    height: 35px;
    line-height: 35px;
}

div#painel_cidadao th {
    font-weight: normal;
    text-align: center;
}

th#Mensagem {
    word-break: break-all;
}